table.tpw {
	width: 100%;
}

table.tpw th {
	background: #cccccc;
	text-align: left;
}

table.tpw tr:nth-child(even) {
	background: #eee;

}

table.tpw td {
	border: 0;
}

table.tpw th {
	padding: 5px 10px;
}

table.tpw td {
	padding: 2px 10px;
}

table.tpw td:nth-child(2) {
	width: 30%;
	text-align: center;
}